body{
   font-family:sawasdee;
}
#menu{
    padding:0px;
}
#mynav{
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.14),0 2px 0px 0px rgba(0,0,0,0.12),0 1px 0px 0 rgba(0,0,0,0.12);
}
.row{
    margin-bottom:0px;
}
nav ul a{
    color:black;
}
nav ul a:hover{
    background-color:#fafafa ;
}
#content{
    margin-top:10px;
}
#tobottom{
    bottom:0px;
    position:fixed;
}

@media (min-width: 1025px){
    #idimg{
      max-width:150px;
      border-radius : 75px;
      margin-top:20px;
      margin-left:20px;
    }
    #titleId{
        font-size:55px;
    }
    #row1{
        height : 170px;
    }
    #row2{
        margin-top:-2%;`
    }
    #row2 img{
        height:30px;
    }
}

@media (max-width: 1025px){
    #idimg{
      max-width:75px;
      border-radius : 375px;
      margin-top:7px;
      margin-left:7px;
    }
    #titleId{
        font-size:40;
        font-weight:700;
    }
    #row1{
        height : 80px;
    }
}


@font-face {
  font-family: sawasdee;
  src: url(Sawasdee.ttf);
}